{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% block header %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
      body {
        padding-top: 90px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet">
  </head>

<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <div class="container" style="font-family: verdana">
                <a class="brand"><strong>Flashcard</strong></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/flashcard/">Home</a></li>
                        <li><a href="https://github.com/cuongnm92/Flashcard_team02" target="_blank">Project Repository</a></li>
                        <li><a rel="popover" href="#">About Us</a></li>
                    </ul>
                    <form action="/flashcard/search/" method="GET" class="navbar-search pull-left">
                        <input type="text" name="q" value="{{ query|escape }}" class="search-query span3" placeholder="Search">
                    </form>
                </div>
            </div>
		</div>
      </div>
    </div>
    
	{% block content %}

	{% endblock %}
	
    <script src="{{ STATIC_PREFIX }}javascript/jquery.js"></script>
	<script src="{{ STATIC_PREFIX }}javascript/edit.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap.js"></script>
    <script>
        $(function(){
            $("a[rel=popover]").popover({
                placement: "bottom",
                title: "Group 02 - K55CA - ĐHCN - ĐHQGHN",
                content: "<p>- Nguyễn Thạc Dư </p>" +
                        "<p>- Nguyễn Mạnh Cường </p>" +
                        "<p>- Đường Minh Dũng </p>" +
                        "<p>- Trương Thành Công </p>" +
                        "<p>- Đỗ Thành Đạt </p>"
            })
        })
    </script>
</body></html>