{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  	<title>Main page</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />	

	<!-- stylesheets -->
  	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/mainpage_style.css" type="text/css" media="screen" />
  	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/slide.css" type="text/css" media="screen" />
	
	<script src="{{ STATIC_PREFIX }}javascript/jquery.js"></script>
	<script src="{{ STATIC_PREFIX }}javascript/edit.js"></script>
	<script src="{{ STATIC_PREFIX }}javascript/slide.js" type="text/javascript"></script>
</head>

<body>
<!-- Panel -->
<div id="toppanel">
	<div id="panel">
		<div class="content clearfix">
			<div class="left">
				<h1> FLASHCARD WEDSITE </h1>
				<h2> This is a small software engineering project - spring 2012 </h2>		
				<p class="grey"> flash card is a set of cards bearing information, as words or numbers, on either or both sides, 
				                 used in classroom drills or in private study. One writes a question on a card and an answer overleaf. 
								 Flashcards can bear vocabulary, historical dates, formulas or any subject 
								 matter that can be learned via a question and answer format. Flashcards are widely used as a learning 
								 drill to aid memorization by way of spaced repetition.
				</p>
			</div>
			<div class="left">
				<div class="left">
				<h1> ABOUT US </h1>
				<h2> GROUP 02 - K55CA </h2>		
				<p class="grey"> -Nguyễn Mạnh Cường </p>
				<p class="grey"> -Trương Thành Công </p>
				<p class="grey"> -Nguyễn Thạc Dư </p>
				<p class="grey"> -Đường Minh Dũng </p>
				<p class="grey"> -Đỗ Thành Đạt </p>
			</div>
			</div>
			<div class="left right">			
				<!-- Login Form -->
				<form class="clearfix" method="post" action=".">
				    {% csrf_token %}
					<h1> Member Login </h1>
					<label class="grey" for="log">Username:</label>
					<input class="field" type="text" name="username" id="log" value="{{ username }}" size="23" />
					<label class="grey" for="pwd">Password:</label>
					<input class="field" type="password" name="password" id="pwd" value="{{ password }}" size="23"/>
	            	<label><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> &nbsp;Remember me</label>
        			<div class="clear"> </div>
					<input type="submit" value="Log in" class="bt_login" action = ""/>
					<input type="hidden" name="next" value="{{ next }}" />
					<a class="lost-pwd" href="/resetpassword/">Lost your password?</a>
				</form>
			</div>
		</div>
     </div> 
	 <!-- /login -->	
			
	<!-- The tab on top -->	
	<div class="tab">
		<ul class="login">
			<li class="left">&nbsp;</li>
			<li>Hello Guest!</li>
			<li class="sep">|</li>
			<li id="toggle">
				<a id="open" class="open" href="#"> log in to enter </a>
				<a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
			</li>
			<li class="right">&nbsp;</li>
			</ul> 
	</div> <!-- / top -->
</div> 
<!--panel -->
<div class="regis">
	    <p> <font size ="5" face="arial"> Please , login to enter our flashcard website </br>  </p>
        <p> <font size ="5" face="arial" color="blue"> Registration </font> </br> </p>
        <small> It's free and always will be </small> </td>
        <form method="post" action="/regis/">
            <table>
                <tr>
                    <td>
                        <p style="font-size:medium;"> Username  </p>
                    </td>
                    <td>
                        <input type="text" name="username" value="{{ username }}" size="30"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:medium;"> Password  </p>
                    </td>
                    <td>
                        <input type="password" name="password1" value="{{ password1 }}" size="30"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:medium;"> Password  </p>
                    </td>
                    <td>
                        <input type="password" name="password2" value="{{ password2 }}" size="30"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:medium;"> Email  </p>
                    </td>
                    <td>
                        <input type="text" name="email1" value="{{ email1 }}" size="30"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:medium;"> Email </p>
                    </td>
                    <td>
                        <input type="text" name="email2" value="{{ email2 }}" size="30"/>
                    </td>
                </tr>
                <td align="center">
                <input type="submit" value="Đăng ký" action = "" class="button"/></td>
            </table>
        </form>
    </div>
</div>
</body>
</html>
