{% extends "mainpage/base.html" %}

{% block header %}
    <title>Home Page</title>
{% endblock %}

{% block content %}
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="span8 offset2">

                <div class="row-fluid">

                <div class="span7 well">
                    <img class="image-preview" src="{{ STATIC_PREFIX }}images/content.JPG" height="100%" width="100%">
                </div>

                <div class="span5" style="text-align: center;">
                    <div class="row-fluid" >
                        <div class="span12 well">
                            <form action="/login/" method="post">
                                <h3>Sign in to Flashcard</h3>
                                <input class="text-input" type="text" name="username" placeholder="Username"><br/>
                                <input class="text-input" type="password" name="password" placeholder="Password"><br/>
                                <input class="btn btn-primary" type="submit" value="Sign in">
                                <a href="/resetpassword/"><span>Forgot Password?</span></a>
                            </form>
                        </div>
                        <div class="span12 well" style="margin: 0px;">
                            <h3>New to Flashcard? Sign up</h3>

                            <form method="post" action="/regis/" class="signup">
                                <input class="text-input" maxlength="20" type="text" name="username" placeholder="Username"><br/>
                                <input class="text-input email-input" type="text" name="email" placeholder="Email"><br/>
                                <input class="text-input" type="password" name="password" placeholder="Password"><br/>
                                <input class="btn btn-danger" value="Sign up" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}