<div id="aboutModal" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>Flashcard Project</h3>
    </div>
    <div class="modal-body">
        <div class="well">
            <p style="font-family: sans-serif">
                This is a project of Group 02 - K55CA - UET in Software Engineering<br/>
                Lecturer : <b>Trương Anh Hoàng</b><br/>
                Our team members<br/>
                <b>
                - Nguyễn Thạc Dư<br/>
                - Nguyễn Mạnh Cường<br/>
                - Trương Thành Công<br/>
                - Đường Minh Dũng<br/>
                - Đỗ Thành Đạt<br/>
                </b>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="#" data-dismiss="modal">Close</a>
    </div>
</div>