{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> Welcome to our Site </title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ STATIC_PREFIX }}style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/edit.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="logo">
		<h1> TEAM02-K55CA </h1>
		<p><em> Flashcard Project </em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" class="first">Trang chủ</a></li>
				{% if not user.is_authenticated %}
					<li><a href="/regis/">Đăng kí</a></li>
				{% endif %}
				<li><a href="/flashcard">Flashcard</a></li>
				<li><a href="/rank">Xếp Hạng</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="Search" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->
	<div id="page">
	<div id="page-bgtop">
    
    <div id="sidebar">
			<ul>
				<form method="post" action=".">
				{% csrf_token %}
				{% if user.is_authenticated %}
					<p> </p>
					<p>Chào mừng {{ user.username }} quay trở lại với trang web</p>
					<p><a href="/logout/"> Thoát </a></p>
				{% else %} 
				 <li>
					<p> {{ state }} </p>
					<p> Tên tài khoản </p> 
					<input type="text" name="username" value="{{ username }}" /><br />
					<p> Mật khẩu </p>
					<input type="password" name="password" value="{{ password }}" /><br />
					<br/>
					<input type="submit" value="Log In" action = ""/>
					<input type="hidden" name="next" value="{{ next }}" />
				 </li>
				 {% endif %}
				</form>
			</ul>
    </div>
		<!-- end #sidebar -->
    
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Chào mừng đến với trang web của chúng tôi</a>				</h2>
				<div class="entry">
					 <p> Trang web này được thiết kế bởi nhóm 2 - nằm trong dự án flashcard của môn công nghệ phần mềm . </p>
					 Flashcard là 1 tập các thẻ chứa câu hỏi và câu trả lời . Người dùng có thể tạo flashcard . 
					 Người dùng được xếp hạng theo số lượng câu trả lời đúng.
                </div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Giới thiệu nhóm</a>				</h2>
				<div class="entry">
					<p> Nhóm 2 - môn công nghệ phần mềm gồm các thành viên : </p>
					<p> _ Trương Thành Công - K55CA </p>
					<p> _ Nguyễn Mạnh Cường - K55CA </p>
					<p> _ Đường Minh Dũng - K55CA</p>
					<p> _ Nguyễn Thạc Dư - K55CA </p>
					<p> _ Đỗ Thành Đạt - K55CA </p>
                </div>
			</div>
		</div>	
</div>
		
</body>
</html>
