.status {
  padding-top: 2px;
  padding-left: 8px;
  vertical-align: top;
  width: 246px;
  white-space: nowrap;
  text-align: left
}

label.error {
  background-color: white;
  background: url("../images/images_form/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}

label.checked {
  background: white url("../images/images_form/checked.gif") no-repeat 0px 0px;
}
.success_msg {
  font-weight: bold;
  color: #0060BF;
  margin-left: 19px;
}