{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
      body {
        padding-top: 90px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet">
  </head>

<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"> Registration </a>	
		</div>
      </div>
    </div>
    
	{% block content %}

	{% endblock %}
	
    <script src="{{ STATIC_PREFIX }}javascript/jquery.js"></script>
	<script src="{{ STATIC_PREFIX }}javascript/edit.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-transition.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-alert.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-modal.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-tab.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-popover.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-button.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_PREFIX }}javascript/bootstrap-typeahead.js"></script>

    </body>
</html>