{% extends "registration/base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset4" align="center">
        {% if notif == 1 %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                    <strong>Error!</strong> Username and Email does not match!
            </div>
        {% endif %}
        <form action="." method="POST">
            <table>
                {{ form.as_table }}
            </table>
            <input class="btn btn-primary" data-loading-text="Sending..." value="Submit" type="submit">
        </form>
        </div>
    </div>
{% endblock %}