{% extends "registration/base.html" %}

{% block header %}
    <title>Sign up</title>
    <link href="{{ STATIC_PREFIX }}css/validate.css" type="text/css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function() {
            // validate signup form on keyup and submit
            var validator = $("#signupform").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 5
                    },
                    password: {
                        required: true,
                        minlength: 6
                    },
                    password_confirm: {
                        required: true,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    username: {
                        required: "Enter a username",
                        minlength: jQuery.format("Enter at least {0} characters"),
                        remote: jQuery.format("{0} is already in use")
                    },
                    password: {
                        required: "Provide a password",
                        rangelength: jQuery.format("Enter at least {0} characters")
                    },
                    password_confirm: {
                        required: "Repeat your password",
                        equalTo: "Enter the same password as above"
                    },
                    email: {
                        required: "Please enter a valid email address",
                        minlength: "Please enter a valid email address"
                    }
                },
                // the errorPlacement has to take the table layout into account
                errorPlacement: function(error, element) {
                    if ( element.is(":radio") )
                        error.appendTo( element.parent().next().next() );
                    else if ( element.is(":checkbox") )
                        error.appendTo ( element.next() );
                    else
                        error.appendTo( element.parent().next() );
                },
                // set this class to error-labels to indicate valid fields
                success: function(label) {
                    // set &nbsp; as text for IE
                    label.html("&nbsp;").addClass("checked");
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            {% if notif == 1 %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">x</a>
                    <strong>Warning!</strong> Please fill all the field.
                </div>
            {% endif %}
            {% if notif == 2 %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">x</a>
                    <strong>Warning!</strong> This username has been taken.
                </div>
            {% endif %}
            <form id="signupform" method="post" action=".">
                <table>
                    <tr>
                        <td><label class="label" id="lfirstname" for="username">Username</label></td>
                        <td><input id="username" name="username" type="text" placeholder="Username"/></td>
                        <td class="status"></td>
                    </tr>
                    <tr>
                        <td><label class="label" id="lpassword" for="password">Password</label></td>
                        <td><input id="password" name="password" type="password" placeholder="Password"/></td>
                        <td class="status"></td>
                    </tr>
                    <tr>
                        <td><label class="label" id="lpassword_confirm" for="password_confirm">Confirm Password</label></td>
                        <td><input id="password_confirm" name="password_confirm" type="password" placeholder="Confirm Password"/></td>
                        <td class="status"></td>
                    </tr>
                    <tr>
                        <td><label class="label" id="lemail" for="email">Email Address</label></td>
                        <td><input id="email" name="email" type="text" placeholder="Email"/></td>
                        <td class="status"></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input class="btn btn-primary" type="submit" value="Signup"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
