{% extends "registration/base.html" %}

{% block content %}
    <div align = "center">
			<table> <tr> <td> <p> {{ state }} </p> </td> </tr> </table>
			<form method="post" action=".">
                <table>
				<tr> 
				  <td> 
				    <p> Tên đăng nhập : </br>
				    <small> (Tối đa 30 kí tự , bao gồm chữ hoa , chữ thường và gạch dưới) </small> </br>	
				  </td>
				  <td>
				    <input type="text" name="username" value="{{ username }}" size="50"/> </br> </p>
				  </td>
				</tr>
				<tr>
				  <td>
				    <p> Mật khẩu : </p>
				  </td>
				  <td>
				    <input type="password" name="password1" value="{{ password1 }}" size="50"/> </br> </p>
				  </td>
				</tr>
				<tr>
				  <td>
				    <p> Mật khẩu : </p>
				  </td>
				  <td>
				    <input type="password" name="password2" value="{{ password2 }}" size="50"/> </br> </p>
				  </td>
				</tr>
				<tr>
				  <td>
				    <p> Email : </p>
				  </td>
				  <td>
				    <input type="text" name="email1" value="{{ email1 }}" size="50"/> </br> </p>
				  </td>
				</tr>
                <tr>
				  <td>
				    <p> Email : </p>
				  </td>
				  <td>
				    <input type="text" name="email2" value="{{ email2 }}" size="50"/> </br> </p>
				  </td>
				</tr>	
			    <td align="center"><input type="submit" value="đăng ký" action = "" class="button"/></td>
			   </table>	
			</form>		
	   </div>
{% endblock %}
