{% extends "flashcard/origin.html" %}

{% block sidebar %}
    <div class="sidebar-nav">
        <ul class="nav nav-list well">
            {% if user.is_authenticated %}
                <li class="nav-header"> Options </li>
                <h3><a class="btn btn-success" href="/flashcard/create/"> Create New Flashcard</a></h3>
                <li><a href="/user/{{ user.username }}/flashcardlist/"> My Flashcard </a></li>
            {% endif %}
            <li class="nav-header"> Categories </li>
            <li><a href="/flashcard/title/art">   Art 				 </a></li>
            <li><a href="/flashcard/title/bae"> 	Business & Economics </a></li>
            <li><a href="/flashcard/title/cos"> 	Computer Science     </a></li>
            <li><a href="/flashcard/title/geo"> 	Geography            </a></li>
            <li><a href="/flashcard/title/gov"> 	Government           </a></li>
            <li><a href="/flashcard/title/his"> 	History              </a></li>
            <li><a href="/flashcard/title/mat"> 	Math				 </a></li>
            <li><a href="/flashcard/title/mus">   Music                </a></li>
            <li><a href="/flashcard/title/fol"> 	Foreign Language     </a></li>
            <li><a href="/flashcard/title/sci"> 	Science              </a></li>
            <li><a href="/flashcard/title/phe"> 	PE & Health          </a></li>
            <li><a href="/flashcard/title/rel"> 	Religion             </a></li>
            <li><a href="/flashcard/title/oth"> 	Other             </a></li>
        </ul>
    </div><!--/.well -->
    {% include "uploadxls.html" %}
{% endblock %}