{% extends "flashcard/base.html" %}

{% block header %}
    <title>
        Copy Flashcard Successfully
    </title>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        function redirect(){
            window.location = "/";
        }
        setTimeout("redirect()", 5000);
    </script>
    <div align = "center">
        <h4>
            You have successfully copy an flashcard.
            You will be back to <a href="/flashcard"> Flashcard </a> to view flashcards in 5 seconds
        </h4>
{% endblock %}