{% extends "flashcard/base.html" %}

{% block header %}
    {% if value == 1 %}
        <title>Create Flashcard</title>
    {% endif %}
    {% if value == 2 %}
        <title>Edit Flashcard</title>
    {% endif %}
    {% if value == 3 %}
        <title>Copy Flashcard</title>
    {% endif %}
{% endblock %}

{% block content %}
	<div class="span9">
        {{ test }}
		<form method="post" action=".">
            <h3>New Flashcards</h3>
            <hr>
			<table>
				{{ form.as_table }}
			</table>
            <br/><br/>
            <h3>Prompt/Answer</h3>
            <hr>
            {% for pform in promptForm %}
                {% cycle '<div style="margin-left:9px">' '' %}
                    {{ pform.label }}
                    {{ pform }}
                {% cycle '' '</div>' %}
            {% endfor %}

		    <br/>
            <input class="btn btn-success" type="submit" value="Submit" style="margin-left: 250px"/>
            <input class="btn btn-danger" type="reset" value="Cancel" onclick="window.history.back()">
		</form>
	</div>
{% endblock %}
      

