{% extends "flashcard/base.html" %}

{% block header %}
    <title>Flashcard</title>
    <style type="text/css">
        .search-query {
            background: url("../../static/images/icon_searchbox.png") no-repeat right;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="span9">
        <div class="row-fluid">
            <div class="span12" style="padding-left: 20px">
                <form action="/flashcard/search/" method="GET">
                    <input type="text" name="q" value="{{ query|escape }}" class="search-query span4" placeholder="Search">
                </form>
            </div>
            <div class="span12">
                <div class="row-fluid">
                    <div class="span4">
                        <h3> Art </h3>
                        {% for object in Art %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/art" style="font-style: italic;"> &gt;&gt; View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> Business & Economics </h3>
                        {% for object in Bae %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/bae" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> Computer Science </h3>
                        {% for object in Cos %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/cos" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="span4">
                        <h3> Geography </h3>
                        {% for object in Geo %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/geo" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> Government </h3>
                        {% for object in Gov %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" ><i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/gov" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> History </h3>
                        {% for object in His %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/his" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="span4">
                        <h3> Math </h3>
                        {% for object in Mat %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/mat" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> Music </h3>
                        {% for object in Mus %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/mus" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> Foreign Language </h3>
                        {% for object in Fol %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/fol" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="span4">
                        <h3> Science </h3>
                        {% for object in Sci %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/sci" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> PE & Health </h3>
                        {% for object in Peh %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/peh" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                    <div class="span4">
                        <h3> Religion </h3>
                        {% for object in Rel %}
                            <div style="margin-bottom: 4px">
                                <span class="label label-success" > <i class="icon-heart icon-white"></i></span>
                                <a href="/flashcard/{{object.id}}" style="text-decoration: none;  font-weight: bold">{{object.title}}</a>
                            </div>
                        {% endfor %}
                        <p><a href="/flashcard/title/rel" style="font-style: italic"> >> View more </a></p>
                    </div><!--/span-->
                </div><!--/row-->
            </div>
        </div>
    </div><!--/span-->
{% endblock %}