{% load gravatar %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% block header %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico">
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/jquery.fileupload-ui.css" rel="stylesheet">
    <!-- styles -->
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            font-family: sans-serif;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/flashcard/"><strong>Flashcard</strong></a>
            <div class="navbar-text pull-right">
                {% if user.is_authenticated %}
                    <ul class="nav">
                        <li style="margin-top: 4px"><img height="30" src="{% gravatar_url user.email %}" width="30"></li>
                        <li><a href="/user/{{ user.username }}">{% include "name_display_current_user.html" %}</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/user/{{ user.username }}/edit/"><i class="icon-wrench icon-white" title="Setting"></i></a></li>
                        <li><a href="/logout/"><i class="icon-share icon-white" title="Logout"></i></a></li>
                    </ul>
                {% else %}
                    <ul class="nav">
                        <li><a href="/regis/">Signup</a></li>
                        <li><a data-toggle="modal" href="#loginModal" >Login</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    {% if not user.is_authenticated %}
                        <li><a href="/">Home Page</a></li>
                    {% endif %}
                    <li><a data-toggle="modal" href="#aboutModal" >About</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% include "about_content.html" %}
<div id="loginModal" class="modal hide fade" style="display: none; text-align: center">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Sign in to Flashcard</h3>
    </div>
    <form action="/login/" method="post">{% csrf_token %}
        <div class="modal-body">
            <p><input type="text" name="username" placeholder="Username"></p>
            <p><input type="password" name="password" placeholder="Password"></p>
        </div>
        <div class="modal-footer" style="text-align: center">
            <input class="btn btn-primary" type="submit" value="Login">
            <a href="/resetpassword/"><span>Forgot Password?</span></a>
        </div>
    </form>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            {% block sidebar %}

            {% endblock %}
        </div><!--/span-->

        {% block content %}

        {% endblock %}

    </div><!--/row-->

</div>

<script src="{{ STATIC_PREFIX }}javascript/jquery.js"></script>
<script src="{{ STATIC_PREFIX }}javascript/edit.js"></script>
<script src="{{ STATIC_PREFIX }}javascript/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('a[rel=tooltip]').tooltip({
            placement: "bottom"
        });
        $('#liked').tooltip({
            placement: "bottom"
        });
        $(".like-click").click(function(){
            $.ajax({
                url: "/flashcard/{{ flashcard_id }}/like/?like",
                success: function(html){
                    $('.like-results').load("/flashcard/{{ flashcard_id }}/like/?like");
                    $("span").removeClass("btn",'10000');
                }
            });
        });
    });
</script>
</body></html>