{% extends "flashcard/base.html" %}

{% block header %}
    <title>Flashcard</title>
{% endblock %}

{% block content %}
<div class="span9 offset3">
    <div class="row-fluid">
    <div class="span7 offset5">
        {% for flashcard in flashcards.object_list %}
            <h3>
            <div class="span1">
                <span class="label label-success">{{ flashcard.vote }}</span>
            </div>
            </h3>
            <div class="span11">
                <h3>
                <a href="/flashcard/{{ flashcard.id }}/" style="color: green;">
                    {{ flashcard.title }}
                </a>
                </h3>
                <a href="/user/{{ flashcard.user }}" style="font-style: italic;">
                    {% if flashcard.user.first_name != '' or flashcard.user.last_name != '' %}
                        {{ flashcard.user.first_name }} {{ flashcard.user.last_name }}
                    {% else %}
                        {{ flashcard.user.username }}
                    {% endif %}
                </a>
                <span style="font-size: smaller;">{{ flashcard.description }}</span>
            </div>
        {% endfor %}
        {% include "paging.html" %}
    </div>
</div>
</div>
{% endblock %}