{% extends "flashcard/base.html" %}

{% block myflashcard %}
    {% if owner %}
        <li><a href="/flashcard/{{flashcard_id}}/edit/"> Edit this Flashcard </a></li>
        <li><a href="/flashcard/{{flashcard_id}}/delete/"> Delete this Flashcard </a></li>
    {% endif %}
{% endblock %}

{% block content %}

	<link href="{{ STATIC_PREFIX }}css/table_style.css" rel="stylesheet">
	 
    <div class="span9">
    <p> <font size ="5" color ="#adff2f"> {{ fc.title }} </font> .
    </div>

	
	<div class="body" align = "center">
					{% if quests %}
						<input type="hidden" id="hiddenprompt" name="variable" value="{{ p }}">
						<input type="hidden" id="hiddenanswer" name="variable" value="{{ a }}">

						<script type="text/javascript" src="/static/javascript/display.js"></script>
					{% else %}
						<p>No Flashcards found.</p>
					{% endif %}
	</div>
		
{% endblock %}