{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> {{ title }} </title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ STATIC_PREFIX }}style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="logo">
		<h1> {{ headingh1 }} </h1>
		<p><em> {{ sologan }} </em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" class="first">Trang chủ</a></li>
				<li><a href="#">Đăng kí</a></li>
				<li><a href="#">Flashcard</a></li>
				<li><a href="#">Xếp Hạng</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->
	<div id="page">
	<div id="page-bgtop">
    
    <div id="sidebar">
			<ul>
				<li>
					{% if next %}
						<input type="hidden" name="next" value="{{ next }}" />
					{% endif %}
					<p> username: </p> 
					<input type="text" name="username" value="{{ username }}" /><br />
					<p> password: </p>
					<input type="password" name="password" value="" /><br />
					<input type="submit" value="Log In" />
				</li>
			</ul>
</div>
		<!-- end #sidebar -->
    
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Chào mừng đến với trang web của chúng tôi</a>				</h2>
				<div class="entry">
					 <p> Trang web này được thiết kế bởi nhóm 2 - nằm trong dự án flashcard của môn công nghệ phần mềm . </p>
					 Flashcard là 1 tập các thẻ chứa câu hỏi và câu trả lời . Người dùng có thể tạo flashcard . 
					 Người dùng được xếp hạng theo số lượng câu trả lời đúng.
                </div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Giới thiệu nhóm</a>				</h2>
				<div class="entry">
					<p> Nhóm 2 - môn công nghệ phần mềm gồm các thành viên : </p>
					<p> _ Trương Thành Công - K55CA </p>
					<p> _ Nguyễn Mạnh Cường - K55CA </p>
					<p> _ Đường Minh Dũng - K55CA</p>
					<p> _ Nguyễn Thạc Dư - K55CA </p>
					<p> _ Đỗ Thành Đạt - K55CA </p>
                </div>
			</div>
		</div>	
</div>
		
</body>
</html>
