{% extends 'account/base.html' %}

{% block content %}
    <div class="span9" align="center">
    <font size="3" face="verdana" color="red">
    {% if changed %}
        <li> Your password has been changed. </li>
    {% else %}
        {% if error == 1 %}
            <li> Old password is not correct. Please try again. </li>
        {% endif %}
        {% if error == 2 %}
            <li> New password does not match. Please try again. </li>
        {% endif %}
    {% endif %}
    </font>
    </br>
    </br>
    <form method="post" action=".">
        <p>Mật khẩu cũ </p>
        <input type="password" name="oldpass" value="{{ oldpass }}"> </br>
        <label>Mật khẩu mới </label>
        <input type="password" name="newpass1" value="{{ newpass1 }}"> </br>
        <label>Biết rồi còn hỏi </label>
        <input type="password" name="newpass2" value="{{ newpass2 }}"> </br>
        </br>
        <input type="submit" value="Submit">
        <input type="reset" value="Cancel">
    </form>
    </div>
{% endblock %}