{% extends "flashcard/base.html" %}

{% block content %}
    <div class="span9" align="center">
    <font size="3" face="verdana" color="red">
    {% if changed %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">x</a>
            <strong>Well done!</strong> Your password has been changed.
        </div>
    {% else %}
        {% if error == 1 %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                <strong>Warning!</strong> Current password is not correct. Please try again.
            </div>
        {% endif %}
        {% if error == 2 %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                <strong>Warning!</strong> New password does not match. Please try again.
            </div>
        {% endif %}
    {% endif %}
    </font>
    <br/>
    <br/>
    <form method="post" action=".">
        <table>
            <tr>
                <td><label class="label label-success" for="oldpass">Current Password</label></td>
                <td><input id="oldpass" type="password" name="oldpass" value="{{ oldpass }}"></td>
            </tr>
            <tr>
                <td><label class="label label-success" for="newpass1">New Password </label></td>
                <td><input id="newpass1" type="password" name="newpass1" value="{{ newpass1 }}"></td>
            </tr>
            <tr>
                <td><label class="label label-success" for="newpass2">Confirm New Password </label></td>
                <td><input id="newpass2" type="password" name="newpass2" value="{{ newpass2 }}"></td>
            </tr>
        </table>
        <br/>
        <input class="btn btn-primary" type="submit" value="Submit">
        <input class="btn btn-danger" type="reset" value="Cancel" onclick="window.history.back()">
    </form>
    </div>
{% endblock %}