{% extends "flashcard/base_alter.html" %}

{% block content %}
    <div class="span9 offset3">
        <div class="row-fluid">
            <div class="span7 offset5">
                {% for flashcard in flashcards.object_list %}
                    <h3>
                        <div class="span1">
                            <span class="label label-success">{{ flashcard.vote }}</span>
                        </div>
                    </h3>
                    <div class="span11">
                        <h3>
                        <a href="/flashcard/{{ flashcard.id }}/">
                            {{ flashcard.title }}
                        </a>
                        </h3>
                        <span style="font-style: italic;">{{ flashcard.description }}</span>
                    </div>
                {% endfor %}
                {% include "paging.html" %}
            </div>
        </div>
    </div>
{% endblock %}