{% extends "flashcard/base.html" %}

{% block content %}
    <div class="span9" align="center">
        <font size="3" face="verdana" color="red">
            {% if changed %}
                <li> Your profile has been changed. </li>
            {% else %}
                {% if error == 1 %}
                    <li> Your form is not correct. Please try again. </li>
                {% endif %}
            {% endif %}
        </font>
        <br/>
        <br/>
        <form method="post" action=".">
            <table>
                <tr>
                    <td><label class="label label-success" for="first_name">First Name</label></td>
                    <td><input id="first_name" type="text" name="first_name" value="{{ user.first_name }}"></td>
                </tr>
                <tr>
                    <td><label class="label label-success" for="last_name">Last Name</label></td>
                    <td><input id="last_name" type="text" name="last_name" value="{{ user.last_name }}"></td>
                </tr>
                <tr>
                    <td><label class="label label-success" for="email">Email</label></td>
                    <td><input id="email" type="email" name="email" value="{{ user.email }}"></td>
                </tr>
            </table>
            <p><a href="/user/{{ user.username }}/changepassword/">Change Your Password</a></p>
            <input class="btn btn-primary" type="submit" value="Submit">
            <input class="btn btn-danger" type="reset" value="Cancel" onclick="window.history.back()">
        </form>
    </div>
{% endblock %}